{% extends 'layout.twig' %}
{% block titulo %}
    Lista de produtos
{% endblock %}
{% block conteudo %}
    <h3>Lista de produtos</h3>
    <p><a class="btn btn-primary" href="{{ url('cadProduto') }}">Novo</a> </p>
    <table class="table-striped" width="100%">
        <tr><th>Nome</th><th>Descrição</th><th>Valor</th><th>Ações</th></tr>
    {% for produto in lista %}
        <tr>
            <td><b>{{ produto.nome }}</b></td><td>{{ produto.descricao }}</td><td><i>{{ produto.valor }}</i></td>
            <td>                
                <a class="btn btn-warning" href="{{ url('editar',{id:produto.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
                <a class="btn btn-danger" href="{{ url('apagar',{id:produto.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}